search-container {
    flex: none;
}

input[id="search-input"] {
    display: block;
    width: 100%;
    max-width: 450px;
    padding: 0.5em 0.75em;
    border-radius: 4px;
}

ul[id="results-container"] {
    line-height:250%;
}