// Colors

$mggg-blue: #ae47d6;
$mggg-dark-blue: #7e10a8;
$mggg-very-dark-blue: #4c1662;
$mggg-light-blue: #e3b7f0;

$light-grey: #f9f9f9;
$grey: #eee;
$dark-grey: #ddd;

// Shadows

$raised: 0 4px 16px rgba(12, 12, 13, 0.1);
$inset-bottom: 0px -10px 15px -18px rgba(0, 0, 0, 0.4) inset;
$inset-top: 0px 10px 15px -18px rgba(0, 0, 0, 0.4) inset;
$cast-above: 0 -10px 10px -10px rgba(0, 0, 0, 0.4);

// Fonts

$font-serif: "Lora", Georgia, serif;
$font-header-serif: "Playfair Display", Georgia, serif;
$font-sans: "Source Sans Pro", sans-serif;
$font-sans-thin: "Source Sans Pro", "Arial Narrow", Arial, sans-serif;
